body {
    font-family: 'Montserrat';
}

#options {
    font-size: large;
    margin-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

select {
    font-size: large;
    font-family: 'Montserrat';
}

#convert {
    display: flex;
    align-items: center;
    font-size: large;
    column-gap: 5px;
}

#check {
    width: 17px;
    height: 17px;
}

.count {
    display: inline-block;
    width: 30px;
}

.icon {
    width: 50px;
    height: 50px;
}

.tablesheet {
    overflow-x: auto;
} 

.craft {
    border-collapse: collapse;
}

.craft thead {
    font-size: larger;
    font-weight: bold;
}

.craft td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.craft tr:nth-child(even) {
    background-color: #f2f2f2;
}

.materials {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    row-gap: 5px;
}
img {   
    display: inline-block;
    vertical-align: middle;
}